/* <!-- PSEUDOCODE STARTS HERE FRIEND -->
    <!-- STEPS:  -->
    <!-- 1. CREATE CLASSES FOR ALL OBJECTS I WANT TO BE DISPLAYED ON EACH PAGE -->
    <!-- 2. CREATE FUNCTIONS FOR GETTING INPUT FROM PLAYER KEYBOARD -->
    <!-- 3. FIGURE OUT HOW TO TIME EACH GREEN CIRCLE POP-UP (I'M THINKING ABOUT DOING IT WITH TIMESTAMPS BASED ON WHICH SONG IS PLAYING) -->
    <!-- 4. CREATE COUNTERS FOR ACCURACY AND POINTS FOR BOTH PLAYER AND COMPUTER -->
    <!-- 5. FIND/CREATE ALL ASSETS INC. SONG MP3S AND ICONS -->
    <!-- 6. DEFINE CORRECT NOTES FOR ALL SONGS  -->
    <!-- 7. TEST ALLLLL OF THE ABOVE -->
    <!-- 8. START WORKING ON VISUALS/GRAPHICS --> */


    /* --------------------------MENU STYLING-------------------------- */

    #menu {
        background-color: black;
        display: inline;
    }

    .menuItems {
        font-family: 'Changa One';
        color: #6000C1;
        display: inline-block;
    }

    #title {
        font-size: 130pt;
    }

    #howToPlay {
        font-size: 65pt;
    }

    #controls {
        font-size: 65pt;
    }

    #startGame {
        font-size: 70pt;
    }

    /* --------------------------CONTROLS STYLING-------------------------- */

    #controlScreen {
        background-color: black;
    }

    /* --------------------------HOW TO PLAY STYLING-------------------------- */

    #howToPlay {
        background-color: black;
    }

    /* --------------------------SONG SELECT STYLING-------------------------- */

    #songSelector {
        background-color: black;
    }


    /* --------------------------PLAY SCREEN STYLING-------------------------- */

    #playScreen {
        background-color: black;
    }

    