/* <!-- PSEUDOCODE STARTS HERE FRIEND -->
    <!-- STEPS:  -->
    <!-- 1. CREATE CLASSES FOR ALL OBJECTS I WANT TO BE DISPLAYED ON EACH PAGE -->
    <!-- 2. CREATE FUNCTIONS FOR GETTING INPUT FROM PLAYER KEYBOARD -->
    <!-- 3. FIGURE OUT HOW TO TIME EACH GREEN CIRCLE POP-UP (I'M THINKING ABOUT DOING IT WITH TIMESTAMPS BASED ON WHICH SONG IS PLAYING) -->
    <!-- 4. CREATE COUNTERS FOR ACCURACY AND POINTS FOR BOTH PLAYER AND COMPUTER -->
    <!-- 5. FIND/CREATE ALL ASSETS INC. SONG MP3S AND ICONS -->
    <!-- 6. DEFINE CORRECT NOTES FOR ALL SONGS  -->
    <!-- 7. TEST ALLLLL OF THE ABOVE -->
    <!-- 8. START WORKING ON VISUALS/GRAPHICS --> */


    /* --------------------------MENU STYLING-------------------------- */

    /* #borderBox {
        width: fit-content;
        height: fit-content;
    } */

    #menu {
        background-color: black;
        display: inline-block;
    }

    .menuItems {
        font-family: 'Changa One';
        font-size: 65pt;
        text-shadow: #6000C1 4px 5px 6px;
        color: #6000C1;
        text-align: center;
        -webkit-text-stroke: 3px white;
    }

    #title {
        font-size: 130pt;
        text-shadow: #6000C1 6px 8px 8px;
        /* text-shadow:#ffffff 1px 1px; */
        /* Source for webkit text border: https://stackoverflow.com/questions/2570972/css-font-border */
        -webkit-text-stroke: 4px white;
    }


    #startGame {
        font-size: 70pt;
        text-shadow: #6000C1 4px 8px 8px;
        -webkit-text-stroke: 3px white;
    }

    /* --------------------------CONTROLS STYLING-------------------------- */

    #controlScreen {
        background-color: black;
    }

    /* .headings {
        padding-left: 10px;
    } */

    #controlsHeader {
        font-family: 'Changa One';
        color: #6000C1;
        text-align: center;
        font-size: 70pt;
        text-shadow: #6000C1 4px 8px 8px;
        -webkit-text-stroke: 2px white;
        padding-bottom: 50px;
    }

    .leftAndRight {
        font-family: 'Changa One';
        color: white;
        font-size: 65pt;
        text-shadow: white 2px 3px 6px;
        -webkit-text-stroke: 3px #6000C1;
        display: inline-flex;
    }

    #leftHeader {
        padding-left: 10px;
    }

    #rightHeader {
        padding-left: 320px;
    }

    .controlPics {
        display: inline-flex;
        padding-bottom: 50px;
    }

    #leftHanded {
        padding-left: 50px;
    }

    #rightHanded {
        padding-left: 530px;
    }


    .backToMenu {
        font-family: 'Changa One';
        color: #6000C1;
        text-align: center;
        font-size: 70pt;
        text-shadow: #6000C1 4px 8px 8px;
        -webkit-text-stroke: 2px white;
    }

    /* --------------------------HOW TO PLAY STYLING-------------------------- */

    #howToPlay {
        background-color: black;
    }

    #howToPlayHeader {
        font-family: 'Changa One';
        color: #6000C1;
        text-align: center;
        font-size: 70pt;
        text-shadow: #6000C1 4px 8px 8px;
        -webkit-text-stroke: 2px white;
        padding-bottom: 10px;
    }

    .playInstructions {
        font-family: 'Changa One';
        color: #6000C1;
        font-size: 24pt;
        display: inline-flex;
        text-align: center;
    }

    /* #howToPlayImages {
        display: inline-block;
        
    } */

    #howToPlayRed {
      position: relative;
      left: 350px;
    }
    #howToPlayBlue {
        position: relative;
        left: 370px;
      }
      #howToPlayGreen {
        position: relative;
        left: 390px;
      }
      #howToPlayYellow {
        position: relative;
        left: 410px;
      }
    

    #circleRed {
      position: absolute;
      top: 395px;
      left: 360px;
        /* animation: timingCircleShrink 1s ease-in; */
    }
    #circleBlue {
        position: absolute;
        top: 395px;
        left: 538px;
          /* animation: timingCircleShrink 1s ease-in; */
      }
      #circleGreen {
        position: absolute;
        top: 395px;
        left: 721px;
          animation: timingCircleShrink 1s ease-in 1s 2;
      }
      #circleYellow {
        position: absolute;
        top: 392px;
        left: 900px;
        animation: timingCircleShrink 1s ease-in 2s 3;
      }

      #howToPlayCircles {
          padding-bottom: 70px;
      }

    /* --------------------------SONG SELECT STYLING-------------------------- */

    #songSelector {
        background-color: black;
    }


    /* --------------------------PLAY SCREEN STYLING-------------------------- */

    #playScreen {
        background-color: black;
    }



    /* --------------------------ANIMATIONS/KEYFRAMES-------------------------- */

    /* ref for transform scale: https://stackoverflow.com/questions/17767759/css3-scale-animation-keyframes/34226236 */
    @keyframes timingCircleShrink {
        0% {
            
        }
        5% {
            transform: scale(1.0);
        }
        99% {
            transform: scale(0.70);
        }
        100% {

        }
    }
